@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KeepLearning Resources</h1>
    <p><small><i>the shared way to keep your knowledge up-to-date</i></small></a>.</p>
</div>
